<html>
    <head>  
        <meta charset="UTF-8">
        <title>Menu Paciente</title>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
      
    <body>
      <h1>Doctores</h1>
      <h4></h4>
      <form class="cf">
        <% doctor.forEach(function(doctor){%>
        <h5>Nombre del Doctor: <%=doctor.nombre%> </h5>
        <h5>Cedula del Doctor: <%=doctor.cedula%></h5>
        <br>
        <br>
        <%});%>
      </form>
      <form class="cf" action="/">
        <input type="submit" value="volver a pagina inicial" id="cancelar">
      </form>
    </body>

</html>    