<html>
  <head>

    <meta charset="UTF-8">
    <title>Paciente no Encontrado</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>

  <body>
    <h1>ERROR 404. El paciente no existe en el sistema</h1>
    <h4>Proceda a registrarse o vuelva a la pagina inicial.</h4>
    <form class="cf">
      <input type="submit" value="Registrarse" id="input-submit">

    </form>
    <form class="cf" action="/">
      <input type="submit" value="Salir del Sistema" id="salir">
    </form>
  </body>

</html>
