<html>
    <head>
  
      <meta charset="UTF-8">
      <title>Menu Paciente</title>
      <link rel="stylesheet" href="/styles/style.css">
    </head>
  
    <body>
      <h1>Registrado </h1>
      <h4>Por favor ingrese sus datos</h4>
      <form class="cf" action="/Paciente/registrado" method="post">
      </form>
      <form class="cf" action="/">
        <input type="submit" value="Cancelar" id="cancelar">
      </form>
    </body>
  
  </html>