<html>
  <head>

    <meta charset="UTF-8">
    <title>Menu Paciente</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>

  <body>
    <h1>Le damos la bienvenida a nuestro sistema</h1>
    <h4>Por favor ingrese sus datos</h4>
    <form class="cf" action="/Paciente/registrado" method="post">
      <input type="number" name="cedulaPa" placeholder='cedula' id="input-name">
      <input type="text" name="nombre" placeholder='nombre' id="input-name">
      <input type="text" name="sexo" placeholder="sexo (M o F)" id="input-name">
      <input type="date" name="fechaNacimiento" placeholder="fecha de nacimiento (yyyy-mm-dd" id="input-name">
      <input type="text" name="tipoSangre" placeholder="tipo de sangre">
      <input type="submit" value="Registrar" id="input-submit">
    </form>
    <form class="cf" action="/">
      <input type="submit" value="Cancelar" id="cancelar">
    </form>
  </body>

</html>
